torch>=2.3.0
lightning[extra]>=2.5.0
transformers>=4.49.0
datasets
accelerate
ruff
ujson
jupyterlab>3.0
pydantic
ipykernel
tqdm
matplotlib
seaborn
numpy
pandas
scikit-learn
umap
click
tensorboard
torchmetrics